/* --- Reset --- */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --- Common Styles ---*/

h1 {
	font-family: Poppins;
  font-size: 16px;
}

/* --- Helper Classes ---*/

html * {
	text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.no-padding {
	padding: 0;
}

.no-marging {
	margin-right: 0;
	margin-left: 0;
}

/* --- Navbar --- */

.navbar {
	font-size: 14px;
  font-family: Roboto;
	font-weight: 500;
	text-transform: uppercase;
	padding-top: 10px;
	letter-spacing: 1px;
	height: 80px;
}

.navbar-default {
  transition: all 0.6s ease;
	border-color: transparent;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border-radius: 0px;
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}

.navbar-default .navbar-brand {
    color: #FFFFFF;
}

.navbar-default .navbar-brand .navbar-toggle .collapsed {
    padding: 4px 6px;
    font-size: 16px;
    color: #111111;
  }

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #444444;
}

/* --- Main --- */

.jumbo {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../images/suit.jpg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
  width: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.jumbo-content {
  flex:0 1 auto;
}

.jumbo-content h1 {
  font-family: Roboto;
  font-size: 20px;
  color: white;
}

.jumbo-content h2 {
  color: #DB9500;
  font-size: 30px;
  font-family: Roboto;
  padding: 30px;
}

/* --- Services --- */

.services {
	background: #FFFFFF;
}

.services-head {
	padding-top: 100px;
	padding-bottom: 75px;
}

.service-head h1 {
	font-family: Roboto;
	font-size: 24px;
	color: #111111;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 1.4;
	margin-bottom: 10px;
}

.services-head p {
	font-family: Roboto;
	font-size: 14px;
	color: #444444;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 1.4;
	margin-top: 0px;
}
